@import '../utils/mixins.scss';

.planet {
  display: grid;

  @include on-tablet {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 460px 252px;
    grid-column-gap: 70px;
  }

  @include on-desktop {
    display: flex;
    align-items: center;
    gap: 0;
  }

  &__desktop {
    @include on-desktop {
      width: 350px;
    }
  }

  &__image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 304px;

    @include on-tablet {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      height: 100%;
    }

    @include on-desktop {
      width: 893px;
      height: 668px;
    }

    &--mercury {
      width: 111px;
      height: 111px;

      @include on-tablet {
        width: 184px;
        height: 184px;
      }

      @include on-desktop {
        width: 290px;
        height: 290px;
      }
    }

    &--venus {
      width: 154px;
      height: 154px;

      @include on-tablet {
        width: 253px;
        height: 253px;
      }

      @include on-desktop {
        width: 400px;
        height: 400px;
      }
    }

    &--earth {
      width: 173px;
      height: 173px;

      @include on-tablet {
        width: 285px;
        height: 285px;
      }

      @include on-desktop {
        width: 450px;
        height: 450px;
      }
    }

    &--mars {
      width: 129px;
      height: 129px;

      @include on-tablet {
        width: 213px;
        height: 213px;
      }

      @include on-desktop {
        width: 336px;
        height: 336px;
      }
    }

    &--jupiter {
      width: 224px;
      height: 224px;

      @include on-tablet {
        width: 369px;
        height: 369px;
      }

      @include on-desktop {
        width: 582px;
        height: 582px;
      }
    }

    &--saturn {
      width: 256px;
      height: 256px;

      @include on-tablet {
        width: 422px;
        height: 422px;
      }

      @include on-desktop {
        width: 666px;
        height: 666px;
      }
    }

    &--uranus {
      width: 176px;
      height: 176px;

      @include on-tablet {
        width: 290px;
        height: 290px;
      }

      @include on-desktop {
        width: 458px;
        height: 458px;
      }
    }

    &--neptune {
      width: 173px;
      height: 173px;

      @include on-tablet {
        width: 285px;
        height: 285px;
      }

      @include on-desktop {
        width: 450px;
        height: 450px;
      }
    }

    &--surface {
      position: absolute;
      height: 30%;
      bottom: 10px;

      @include on-desktop {
        bottom: 50px;
      }
    }
  }

  &__content {
    @include on-tablet {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
  }

  &__name {
    color: #fff;
    text-align: center;
    font-family: Antonio, sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;

    @include on-tablet {
      text-align: left;
      font-size: 48px;
    }

    @include on-desktop {
      font-size: 80px;
    }
  }

  &__summary {
    margin-top: 16px;
    color: #fff;
    text-align: center;
    font-family:
      League Spartan,
      sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 22px;

    @include on-tablet {
      text-align: left;
    }

    @include on-desktop {
      font-size: 14px;
      line-height: 25px;
    }
  }

  &__wiki-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-top: 32px;
    color: #fff;
    font-family:
      League Spartan,
      sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    text-decoration: none;

    @include on-tablet {
      justify-content: flex-start;
    }

    @include on-desktop {
      margin-top: 24px;
    }

    span {
      opacity: 0.5;
      color: #fff;
      font-family:
        League Spartan,
        sans-serif;
      font-size: 12px;
      font-weight: 700;
      line-height: 25px;
      text-decoration-line: underline;
    }
  }

  &__wiki-icon {
    width: 12px;
    height: 12px;
    background-image: url('../../public//assets/icon-source.svg');
  }
}
