:root {
  --mercury-color: #def4fc;
  --venus-color: #f7cc7f;
  --earth-color: #545bfe;
  --mars-color: #ff6a45;
  --jupiter-color: #ecad7a;
  --saturn-color: #fccb6b;
  --uranus-color: #65f0d5;
  --neptune-color: #497efa;
}
