@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/reset';

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #070724;
  position: relative;
}

body:has(.menu:target) {
  overflow: hidden;
}

.container {
  padding-inline: 24px;
  padding-bottom: 47px;
  width: 100%;
  background-image: url('../public/assets/background-stars.svg');
  background-position: center;
  background-repeat: no-repeat;

  @include on-tablet {
    padding-inline: 40px;
    padding-bottom: 36px;
  }

  @include on-desktop {
    padding-inline: 32px;
    padding-bottom: 56px;
  }
}
